.layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.layout--main {
	width: 100%;
	max-width: var(--max-page-width);
	margin: 0 auto;
	padding: 0 16px;
}

@media (min-width: 824px) {
	.layout--main {
		padding: 0;
	}
}
