:root {
	--color-bg-action: #ffcc00;
	--color-bg-control: #e6e6e6;
	--color-bg-control-hovered: #dbdbdb;
	--color-bg-action-hovered: #f2c200;
	--color-bg-disabled: #f2f2f2;
	--color-bg-base: #ffffff;
	--color-bg-heavy: #d9d9d9;

	--color-border-focused: #b3b3b3;
	--color-border-action-focused: #b38f00;

	--color-text: #000000;
	--color-text-disabled: #7f7f7f;
	--blue-grey-500: #7f8285;
	--blue-grey-50: #f0f2f3;
	--red-500: #ff3333;
	--red-600: #e00000;
	--black-500: #000000;

	--max-page-width: 824px;
}

body {
	margin: 0;
	padding: 0;
}

body,
button,
input {
	font-family: "YS Text", "Helvetica Neue", Arial, sans-serif;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}
